In [1]:
# Importar el módulo sqlite3
import sqlite3

# Crear un objeto de conexión a la base de datos
con = sqlite3.connect("mi_base_de_datos.db")

# Crear un objeto cursor para ejecutar las sentencias SQL
cur = con.cursor()

# Crear una lista de python con los datos que queremos insertar
datos = [("Ana", 25), ("Luis", 30), ("Pedro", 35)]

# Insertar los datos en la tabla usuarios usando el método executemany
cur.executemany("INSERT INTO usuarios (nombre, edad) VALUES (?, ?)", datos)

# Guardar los cambios en la base de datos
con.commit()

# Cerrar la conexión
con.close()

In [ ]:
cur.execute("SELECT nombre, edad FROM usuarios")

# Obtener una lista de tuplas con los resultados usando el método fetchall
datos = cur.fetchall()

# Imprimir los datos obtenidos
for nombre, edad in datos:
    print(nombre, edad)

# Cerrar la conexión
con.close()

In [3]:
# Crear un objeto de conexión a la base de datos
con = sqlite3.connect("mi_base_de_datos.db")

# Crear un objeto cursor para ejecutar las sentencias SQL
cur = con.cursor()

# Consultar los datos de la tabla usuarios usando el método execute
cur.execute("SELECT nombre, edad FROM usuarios")

# Obtener una lista de tuplas con los resultados usando el método fetchall
datos = cur.fetchall()

# Imprimir los datos obtenidos
for nombre, edad in datos:
    print(nombre, edad)

# Cerrar la conexión
con.close()

Ana 25
Luis 30
Pedro 35
Ana 25
Luis 30
Pedro 35
Ana 25
Luis 30
Pedro 35
Ana 25
Luis 30
Pedro 35

In [7]:
import pandas as pd

# Crear un objeto de conexión a la base de datos
con = sqlite3.connect("mi_base_de_datos.db")

# Leer los datos de la tabla usuarios y convertirlos en un dataframe
df = pd.read_sql("SELECT nombre, edad FROM usuarios", con)

# Cerrar la conexión
con.close()

# Imprimir el dataframe
print(df)

   nombre  edad
0     Ana    25
1    Luis    30
2   Pedro    35
3     Ana    25
4    Luis    30
5   Pedro    35
6     Ana    25
7    Luis    30
8   Pedro    35
9     Ana    25
10   Luis    30
11  Pedro    35

In [8]:
# Importar el módulo sqlite3
import sqlite3

# Crear un objeto de conexión a la base de datos
con = sqlite3.connect("mi_base_de_datos.db")

# Crear un objeto cursor para ejecutar las sentencias SQL
cur = con.cursor()

# Ejecutar la instrucción SQL para crear la tabla productos
cur.execute("CREATE TABLE productos (id INTEGER PRIMARY KEY, nombre TEXT, precio REAL)")

# Confirmar los cambios
con.commit()

# Cerrar la conexión
con.close()

In [9]:
# Crear un objeto de conexión a la base de datos
con = sqlite3.connect("mi_base_de_datos.db")

In [10]:
# Crear un objeto cursor para ejecutar las sentencias SQL
cur = con.cursor()

In [11]:
# Crear una lista de python con los datos que queremos insertar
datos = [("Leche", 1.5), ("Pan", 0.5), ("Queso", 2.5)]

In [12]:
# Insertar los datos en la tabla productos usando el método executemany
cur.executemany("INSERT INTO productos (nombre, precio) VALUES (?, ?)", datos)

In [13]:
# Guardar los cambios en la base de datos   
con.commit()

In [14]:
# Cerrar la conexión
con.close()

In [16]:
# crear un df de pandas con los datos de los productos
df_productos = pd.DataFrame(datos, columns=["nombre", "precio"])

In [17]:
df_productos

  nombre  precio
0  Leche     1.5
1    Pan     0.5
2  Queso     2.5